  	<%= stylesheet_link_tag "Piano-Keyboard" %>
		<%= javascript_include_tag "Piano-Keyboard", defer: true %>
		<%= javascript_include_tag "demo", defer: true %>

<%= form_for(@article) do |f| %>
  <%#= f.error_notification %>

  <div class="form-inputs">
     <p><%= f.label "Name:" %>
   <%= f.text_field :title, label: "Name" %></p>
   <br>
    <p><%= f.label "Pitches:" %>
    <%= f.text_area :body, label: "Pitches", id: "fullEvents", style: "resize:none" %></p>
    <openmusic-piano-keyboard id="full" octaves="1"></openmusic-piano-keyboard>
  </div>
  <br>
  <div class="form-actions">
  <p> <%= f.button "Next chord", :type => "button",:onclick => "nextchord()" %>
 <%= f.button "Clear", :type => "button",:onclick => "clearbank()" %></p> 
 <br>
    <%= f.button  "Create Tone Bank", :type => "button",:onclick => "banksubmit()" %>
  </div>
<% end %>
