<!doctype html>

<html>
  	<%= stylesheet_link_tag "Piano-Keyboard" %>
		<%= javascript_include_tag "Piano-Keyboard", defer: true %>
		<%= javascript_include_tag "demo", defer: true %>
	<head>
		<meta charset="utf8">
		<title>piano keyboard demo</title>

	</head>
	
	<body>
		<h1>piano keyboard demo</h1>
		
		<%= form_for :session, url: pages_testresult_path, :html => { :method => 'POST' } do |f| %>
		
		
		<p>
			<openmusic-piano-keyboard id="full" octaves="1"></openmusic-piano-keyboard>
			<!--span id="fullEvents"></span-->
			<%= f.text_field :body, label: "Pitches", id: "fullEvents" %>
		</p>
		<p> <%= f.button "Next chord", :type => "button",:onclick => "nextchord()" %></p>
    <p>  <%= f.button "Clear", :type => "button",:onclick => "clearbank()" %></p> 

  <p><%= f.submit "Generate", :type => "button",:onclick => "document.forms[0].submit()" %></p> 
		<% end %>
	</body>
</html>

